<div class="card mb-3">   <!--Experiencia Laboral-->
  
  <div class="card-body">
    
    <div class="d-flex justify-content-between mb-4" > 
      <h2>Proyectos</h2>
      <i class="fas fa-plus"></i>
    </div>
    
    <div class="container">
      
      <div class="row gy-3 align-items-center">
      
        <div class="col sm-3">

          <div class="card" style="width: 18rem;float:none;margin:auto">
            <img src="assets/img/card1.jpg" class="responsive" alt="...">
            <div class="card-body">
              <h5 class="card-title">Portfolio Web</h5>
              <p class="card-text">Confeccionado tanto en el Frontend como en el Backend, utilizando Angular, Java Spring Boot y SQL.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Repositorio</a>
            </div>
          </div>
        
        </div>

        <div class="col sm-3">

            <div class="card" style="width: 18rem;float:none;margin:auto">
              <img src="assets/img/card2.jpg" class="responsive" alt="...">
              <div class="card-body">
                <h5 class="card-title">Futuro Proyecto 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo repellat sunt fugiat debitis asperiores.</p>
              </div>
              
              <div class="card-body">
                <a href="#" class="card-link">Repositorio</a>
              </div>
            </div>
          
          
        </div>
 
        <div class="col sm-3">

          <div class="card" style="width: 18rem;float:none;margin:auto">
            <img src="assets/img/card3.jpg" class="responsive" alt="...">
            <div class="card-body">
              <h5 class="card-title">Futuro Proyecto 2</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quo repellat sunt fugiat debitis asperiores.</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Repositorio</a>
            </div>
          </div>
        
        </div>
        
    
    </div>

  </div>

</div>
</div>

