<div class="card mb-3">
  <!--Experiencia Laboral-->

  <div class="card-body" id="main-container">

    <div class="d-flex justify-content-between mb-4">
      <h2>Proyectos</h2>
      <i type="button" class="fas fa-plus" (click)="onOpenModal(null!, 'add')" *ngIf="isLogged"></i>
    </div>

    <div class="container">

      <div class="row gy-3 align-items-center">

        <div class="col sm-3" *ngFor="let project of projectList">

          <div class="card" style="width: 18rem;float:none;margin:auto">
            <img [src]="project.imgURL" class="responsive" alt="Imagen del Proyecto" target="_blank">
            <div class="card-body">
              <h5 class="card-title">{{project.title}}</h5>
              <p class="card-text">{{project.about}}</p>
            </div>
            <div class="card-body">

              <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a [href]="project.url" target="_blank" class="btn btn-outline-secondary">Enlace</a>
                <a [href]="project.gitHubURL" target="_blank" class="btn btn-secondary">Repositorio</a>
              </div>
              
              
            </div>
            <div class="edit text-end m-3">
              <i type="button" class="fas fa-pen fa-fw" (click)="onOpenModal(project, 'edit')" *ngIf="isLogged"></i>
              <i type="button" class="fas fa-trash-alt fa-fw" (click)="onOpenModal(project, 'delete')" *ngIf="isLogged"></i>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>

<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProjectModalLabel">Agregar Proyecto</h5>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddProject(addForm)">
          <div class="form-group">
            <label for="title">Nombre</label>
            <input type="text" ngModel name="title" class="form-control" id="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <label for="about">Descripción</label>
            <input type="text" ngModel name="about" class="form-control" id="about" placeholder="Descripción" required>
          </div>
          <div class="form-group">
            <label for="url">Link</label>
            <input type="text" ngModel name="url" class="form-control" id="start" placeholder="URL del Proyecto" required>
          </div>
          <div class="form-group">
            <label for="gitHubURL">GitHub Link</label>
            <input type="text" ngModel name="gitHubURL" class="form-control" id="end" placeholder="URL del Repositorio" required>
          </div>
          <div class="form-group">
            <label for="imgURL">Imagen</label>
            <input type="text" ngModel name="imgURL" class="form-control" id="imgURL" placeholder="URL de la Imagen"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-project-form" class="btn btn-outline-primary"
              data-bs-dismiss="modal">Cerrar</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-outline-info" data-bs-dismiss="modal">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editProjectModal" tabindex="-1" aria-labelledby="editProjectModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProjectModalLabel">Editar {{editProject?.title}}</h5>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="establishment">Nombre</label>
            <input type="text" ngModel="{{editProject?.title}}" name="title" class="form-control" id="title"
              placeholder="Title">
          </div>
          <input type="hidden" ngModel="{{editProject?.id}}" name="id" class="form-control" id="id"
            placeholder="Title">
          <div class="form-group">
            <label for="about">Descripción</label>
            <input type="text" ngModel="{{editProject?.about}}" name="about" class="form-control" id="about"
              placeholder="About">
          </div>
          <div class="form-group">
            <label for="url">URL</label>
            <input type="text" ngModel="{{editProject?.url}}" name="url" class="form-control" id="url"
              placeholder="url">
          </div>
          <div class="form-group">
            <label for="gitHubURL">URL del Repositorio</label>
            <input type="text" ngModel="{{editProject?.gitHubURL}}" name="gitHubURL" class="form-control" id="gitHubURL"
              placeholder="end">
          </div>
          <div class="form-group">
            <label for="imgURL">URL de la Imagen</label>
            <input type="text" ngModel="{{editProject?.imgURL}}" name="imgURL" class="form-control" id="imgURL"
              placeholder="URL">
          </div>
          <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-outline-primary">Cerrar</button>
            <button (click)="onEditProject(editForm.value)" data-bs-dismiss="modal" class="btn btn-outline-info">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Borrar Educación</h5>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de borrar {{deleteProject?.title}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">No</button>
          <button (click)="onDeleteProject(deleteProject?.id!)" class="btn btn-outline-danger"
            data-bs-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
  </div>
</div>