<div class="card h-100" style="margin-bottom: 16px">   <!--Educación-->
    
    <div class="card-body">

      <div class="d-flex justify-content-between mb-4">
        <h2>Educación</h2>                           
        <i class="fas fa-plus"></i>
      </div>

      <div class="card mb-3 border-0" style="max-width: 450px">
        <div class="row">
           <div class="col" style="max-width:120px">
             <img src="assets/img/logoInf.png" class="img-fluid rounded-end" width="90" height="90" alt="oddity" style="margin-left:10px;">
           </div>
           <div class="col">
             <div class="edit text-end">
              <i class="fas fa-pen"></i>
              <i class="fas fa-trash-alt"></i>
           </div>
   
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h5> Facultad de Informática UNLP</h5></li>
              <li class="list-group-item">
                <dl>
                  <dd>Analista Programador Universitario</dd>
                  <dd>2015 - 2017 / Incompleto</dd>
                </dl>
              </li>
            </ul>

         </div>
      </div>
    </div>


<div class="card mb-3 border-0" style="max-width: 450px">
<div class="row">
 <div class="col" style="max-width:120px">
   <img src="assets/img/logoCamb.png" class="img-fluid rounded-end" width="90" height="90" alt="logoCamb" style="margin-left:10px;">
 </div>
 <div class="col">
   
   <div class="edit text-end">
     <i class="fas fa-pen"></i>
     <i class="fas fa-trash-alt"></i>
   </div>
   
   <ul class="list-group list-group-flush">
     <li class="list-group-item"><h5> Instituto Cambridge de Cultura Inglesa</h5></li>
     <li class="list-group-item">
       <dl>
         <dd>Título Superior</dd>
         <dd>2000 - 2007</dd>

       </dl>
     </li>
   </ul>
   
 </div>
</div>
</div>


<div class="card mb-3 border-0" style="max-width: 450px">
<div class="row">
 <div class="col" style="max-width:120px">
   <img src="assets/img/logoFreecode.png" class="img-fluid rounded-end" width="90" height="90" alt="logoFreeCode" style="margin-left:10px;">
 </div>
 <div class="col">
   
   <div class="edit text-end">
     <i class="fas fa-pen"></i>
     <i class="fas fa-trash-alt"></i>
   </div>
   
   <ul class="list-group list-group-flush">
     <li class="list-group-item"><h5> FreeCodeCamp.org</h5></li>
     <li class="list-group-item">
       <dl>
         <dd>JavaScript Algorithms and Data Structures Certification</dd>
         <dd>Sept 2021</dd>
         <dd><a href="https://www.freecodecamp.org/certification/fcc9e597d5e-56de-4a60-bed6-718fea41c521/javascript-algorithms-and-data-structures"> Link</a></dd>
       </dl>
     </li>
   </ul>
   
 </div>
</div>
</div>

<div class="card mb-3 border-0" style="max-width: 450px">
<div class="row">
 <div class="col" style="max-width:120px">
   <img src="assets/img/logoICM.png" class="img-fluid rounded-end" width="60" height="60" alt="logoICM" style="margin-left:20px;">
 </div>
 <div class="col">
   
   <div class="edit text-end">
     <i class="fas fa-pen"></i>
     <i class="fas fa-trash-alt"></i>
   </div>
   
   <ul class="list-group list-group-flush">
     <li class="list-group-item"><h5>Instituto Corazón de María</h5></li>
     <li class="list-group-item">
       <dl>
         <dd>Bachiller en Administración Contable</dd>
         <dd>2005 - 2007</dd>
     
       </dl>
     </li>
   </ul>
   
 </div>
</div>
</div>
</div>

  </div>