<div class="card h-100" style="margin-bottom: 30px">
  <!--Educación-->

  <div class="card-body" id="main-container">

    <div class="d-flex mb-5 justify-content-between">
      <h2>Educación</h2>
      <i type="button" class="fas fa-plus" (click)="onOpenModal(null!, 'add')"></i>
    </div>


    


      <div *ngFor="let education of educationList" class="card mb-4 border-0" style="max-width: 450px">
        <div class="row">
          <div class="col" style="max-width:120px">
            <img [src]="education.imgURL" class="img-fluid rounded-end" width="90" height="90" alt="educ"
              style="margin-left:10px;">
          </div>
          <div class="col">
            <div class="edit text-end">
              <i class="fas fa-pen fa-fw" (click)="onOpenModal(education, 'edit')"></i>
              <i class="fas fa-trash-alt fa-fw" (click)="onOpenModal(education, 'delete')"></i>
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5> {{education.name}}</h5>
              </li>
              <li class="list-group-item">
                <dl>
                  <dd>{{education.title}}</dd>
                  <dd>{{education.start}} - {{education.end}} / {{education.state}}</dd>
                </dl>
              </li>
            </ul>

          </div>
        </div>
      </div>
    
  </div>
</div>

<div class="modal fade" id="addEducationModal" tabindex="-1" aria-labelledby="addEducationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEducationModalLabel">Agregar Educación</h5>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
          <div class="form-group">
            <label for="Name">Nombre</label>
            <input type="text" ngModel name="name" class="form-control" id="nombre" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <label for="title">Título</label>
            <input type="text" ngModel name="title" class="form-control" id="title" placeholder="Title" required>
          </div>
          <div class="form-group">
            <label for="start">Mes de Inicio</label>
            <input type="text" ngModel name="start" class="form-control" id="start" placeholder="Mes de Inicio" required>
          </div>
          <div class="form-group">
            <label for="end">Mes de Finalización</label>
            <input type="text" ngModel name="end" class="form-control" id="end" placeholder="Mes de Finalización" required>
          </div>
          <div class="form-group">
            <label for="state">Estado</label>
            <input type="text" ngModel name="state" class="form-control" id="state" placeholder="Estado" required>
          </div>
          <div class="form-group">
            <label for="imgURL">Imagen del Logo</label>
            <input type="text" ngModel name="imgURL" class="form-control" id="imgURL" placeholder="URL de Imagen" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-education-form" class="btn btn-outline-primary"
              data-bs-dismiss="modal">Cerrar</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-outline-info"
              data-bs-dismiss="modal">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editEducationModal" tabindex="-1" aria-labelledby="editEducationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editEducationModalLabel">Editar {{editEducation?.title}}</h5>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="establishment">Nombre</label>
            <input type="text" ngModel="{{editEducation?.name}}" name="name" class="form-control" id="name"
              placeholder="name">
          </div>
          <input type="hidden" ngModel="{{editEducation?.id}}" name="id" class="form-control" id="id"
            placeholder="Title">
          <div class="form-group">
            <label for="title">Título</label>
            <input type="text" ngModel="{{editEducation?.title}}" name="title" class="form-control" id="title"
              placeholder="Título">
          </div>
          <div class="form-group">
            <label for="start">Mes de Inicio</label>
            <input type="text" ngModel="{{editEducation?.start}}" name="start" class="form-control" id="start"
              placeholder="start">
          </div>
          <div class="form-group">
            <label for="end">Mes de Finalización</label>
            <input type="text" ngModel="{{editEducation?.end}}" name="end" class="form-control" id="end"
              placeholder="end">
          </div>
          <div class="form-group">
            <label for="state">Estado</label>
            <input type="text" ngModel="{{editEducation?.state}}" name="state" class="form-control" id="state"
              placeholder="Estado">
          </div>
          <div class="form-group">
            <label for="imgURL">Imagen del Logo</label>
            <input type="text" ngModel="{{editEducation?.imgURL}}" name="imgURL" class="form-control" id="imgURL"
              placeholder="URL de Imagen">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-bs-dismiss="modal" class="btn btn-outline-primary">Cerrar</button>
            <button (click)="onEditEducation(editForm.value)" data-bs-dismiss="modal"
              class="btn btn-outline-info">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteEducationModal" tabindex="-1" aria-labelledby="deleteEducationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Borrar Educación</h5>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de borrar {{deleteEducation?.title}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">No</button>
          <button (click)="onDeleteEducation(deleteEducation?.id!)" class="btn btn-outline-danger"
            data-bs-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
  </div>
</div>