<div *ngIf="load" class="card mb-3" >
  <!--Experiencia Laboral-->

  <div class="card-body" id="main-container" >

    <div class="d-flex justify-content-between mb-4">
      <h2>Experiencia</h2>
      <i type="button" class="fas fa-plus" (click)="onOpenModal(null!, 'add')" *ngIf="isLogged"></i>
    </div>


    <div *ngFor="let experience of experienceList" class="border-0" style="max-width: 450px">
      <div class="row">
        <div class="col" style="max-width:120px">
          <img [src]="experience.imgURL" class="img-fluid rounded-end" width="90" height="90" alt="Company Logo"
            style="margin-left:10px;">
        </div>
        <div class="col">

          <div class="edit text-end">
            <i type="button" class="fas fa-pen fa-fw" (click)="onOpenModal(experience, 'edit')" *ngIf="isLogged"></i>
            <i type="button" class="fas fa-trash-alt fa-fw" (click)="onOpenModal(experience, 'delete')" *ngIf="isLogged"></i>
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5> {{experience.position}}</h5>
            </li>
            <li class="list-group-item">
              <dl>
                <dd>{{experience.company}} - {{experience.mode}}</dd>
                <dd>{{experience.start}} - {{experience.end}} </dd>
                <dd>{{experience.location}}</dd>
              </dl>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addExperienceModal" tabindex="-1" aria-labelledby="addExperienceModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addExperienceModalLabel">Agregar Experiencia</h5>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddExperience(addForm)">
          <div class="form-group">
            <label for="position">Posición</label>
            <input type="text" ngModel name="position" class="form-control" id="exp-Position" placeholder="Posición"
              required>
          </div>
          <div class="form-group">
            <label for="company">Compañía</label>
            <input type="text" ngModel name="company" class="form-control" id="exp-Company" placeholder="Compañía" required>
          </div>
          <div class="form-group">
            <label for="start">Inicio</label>
            <input type="text" ngModel name="start" class="form-control" id="exp-Start" placeholder="Inicio" required>
          </div>
          <div class="form-group">
            <label for="end">Final</label>
            <input type="text" ngModel name="end" class="form-control" id="exp-End" placeholder="Final" required>
          </div>
          <div class="form-group">
            <label for="mode">Tipo</label>
            <input type="text" ngModel name="mode" class="form-control" id="exp-Mode" placeholder="Tipo" required>
          </div>
          <div class="form-group">
            <label for="location">Ubicación</label>
            <input type="text" ngModel name="state" class="form-control" id="exp-location" placeholder="Estado" required>
          </div>
          <div class="form-group">
            <label for="imgURL">Img URL</label>
            <input type="text" ngModel name="imageURL" class="form-control" id="exp-imgURL" placeholder="Img URL" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-experience-form" class="btn btn-outline-primary"
              data-bs-dismiss="modal">Cerrar</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-outline-info"
              data-bs-dismiss="modal">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editExperienceModal" tabindex="-1" aria-labelledby="editExperienceModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editExperienceModalLabel">Editar {{editExperience?.position}}</h5>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="establishment">Posición</label>
            <input type="text" ngModel="{{editExperience?.position}}" name="position" class="form-control" id="expPosition"
              placeholder="Posición">
          </div>
          <input type="hidden" ngModel="{{editExperience?.id}}" name="id" class="form-control" id="expId"
            placeholder="Posición">
          <div class="form-group">
            <label for="company">Compañia</label>
            <input type="text" ngModel="{{editExperience?.company}}" name="company" class="form-control" id="expCompany"
              placeholder="Compañia">
          </div>
          <div class="form-group">
            <label for="start">Comienzo</label>
            <input type="text" ngModel="{{editExperience?.start}}" name="start" class="form-control" id="expStart"
              placeholder="start">
          </div>
          <div class="form-group">
            <label for="end">Final</label>
            <input type="text" ngModel="{{editExperience?.end}}" name="end" class="form-control" id="expEnd"
              placeholder="end">
          </div>
          <div class="form-group">
            <label for="mode">Tipo</label>
            <input type="text" ngModel="{{editExperience?.mode}}" name="mode" class="form-control" id="expMode"
              placeholder="Estado">
          </div>
          <div class="form-group">
            <label for="location">Ubicación</label>
            <input type="text" ngModel="{{editExperience?.location}}" name="location" class="form-control" id="expCountry"
              placeholder="Ubicación">
          </div>
          <div class="form-group">
            <label for="imgURL">Image URL</label>
            <input type="text" ngModel="{{editExperience?.imgURL}}" required name="imgURL" class="form-control" id="expImgURL"
              placeholder="Image URL">
          </div>
          <div class="modal-footer">
            <button type="button" data-bs-dismiss="modal" class="btn btn-outline-primary">Cerrar</button>
            <button [disabled]="editForm.invalid" (click)="onEditExperience(editForm.value)" data-bs-dismiss="modal"
              class="btn btn-outline-info">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteExperienceModal" tabindex="-1" aria-labelledby="deleteExperienceModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Experience</h5>
      </div>
      <div class="modal-body">
        <p>¿Está seguro de borrar? {{deleteExperience?.position}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">No</button>
          <button (click)="onDeleteExperience(deleteExperience?.id!)" class="btn btn-outline-danger"
            data-bs-dismiss="modal">Si</button>
        </div>
      </div>
    </div>
  </div>
</div>