<div class="card h-100">
  <!--Habilidades-->

  <div class="card-body">

    <div style="margin-top:5px;">
      <h2>Habilidades</h2>

    </div>

    <div *ngFor="let skills of skillList" class="card border-0 m-3">
      <div class="d-flex justify-content-between align-items-center">
        <h5 class="mt-4">{{skills.type}}</h5>
        <i type="button" class="fas fa-plus" (click)="onOpenModal(null!, 'add', skills)" *ngIf="isLogged"></i>
      </div>
      <div *ngFor="let skill of skills.list" class="card-body">
        <div class="d-flex p-0 justify-content-between">
          <p class="fs-5 m-0 fw-light">
            {{skill.name}}
          </p>
          <div>
            <i type="button" class="fas fa-pen fa-fw" (click)="onOpenModal(skill, 'edit', skills)" *ngIf="isLogged"></i>
            <i type="button" class="fas fa-trash-alt fa-fw" (click)="onOpenModal(skill, 'delete', skills)" *ngIf="isLogged"></i>
          </div>
        </div>

        <div class="progress" style="height: 5px; margin-top: 7px;">
          <div class="progress-bar bg-dark" role="progressbar" [ngStyle]="{'width': skill.progress + '%'}"
            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

      </div>

    </div> 

  </div>

  <div class="modal fade" id="addSkillModal" tabindex="-1" aria-labelledby="addSkillModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSkillModalLabel">Agregar Habilidad</h5>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddSkill(addForm, editST)">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" ngModel name="name" class="form-control" id="skillNombre" placeholder="Nombre" required>
            </div>
            <div class="form-group">
              <label for="progress">Progreso</label>
              <input type="text" ngModel name="progress" class="form-control" id="skillProgress" placeholder="Progreso"
                required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-skill-form" class="btn btn-outline-primary"
                data-bs-dismiss="modal" >Cerrar</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-outline-info"
                data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteSkillModal" tabindex="-1" aria-labelledby="deleteSkillModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Borrar Habilidad</h5>
        </div>
        <div class="modal-body">
          <p>¿Está seguro de borrar {{deleteSkill?.name}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">No</button>
            <button (click)="onDeleteSkill(deleteSkill?.id!, editST)" class="btn btn-outline-danger"
              data-bs-dismiss="modal">Si</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editSkillModal" tabindex="-1" aria-labelledby="editSkillModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editSkillModalLabel">Editar {{editSkill?.name}}</h5>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <input type="hidden" ngModel="{{editSkill?.id}}" name="id" class="form-control" id="edu-id"
            placeholder="Title">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" ngModel="{{editSkill?.name}}" name="name" class="form-control" id="skillName"
                placeholder="Nombre de la Habilidad">
            </div>
            <div class="form-group">
              <label for="progress">Progreso</label>
              <input type="text" ngModel="{{editSkill?.progress}}" name="progress" class="form-control" id="skillProgress"
                placeholder="Porcentaje del 1 al 100">
            </div>
            <input type="hidden" ngModel="{{editSkill?.id}}" name="id" class="form-control" id="skillId" placeholder="Title">
            <div class="modal-footer">
              <button type="button" data-bs-dismiss="modal" class="btn btn-outline-primary">Cerrar</button>
              <button (click)="onEditSkill(editForm.value, editST)" data-bs-dismiss="modal"
                class="btn btn-outline-info">Guardar Cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>