<div class="card h-100">   <!--Habilidades-->
  
    
    <div class="card-body">
    
      <div class="d-flex justify-content-between" style="margin-bottom: 40px;" > 
        <h2>Hard and Soft Skills</h2>
        <i class="fas fa-plus"></i>
      </div>
    
  
      <div class="row">
          
        <div class="col md-3">
          
          <div class="progress-circle p90 over50" style="float:none;margin:auto">
            <span>90%</span>
            <div class="left-half-clipper">
              <div class="first50-bar"></div>
              <div class="value-bar"></div>
            </div>
          </div>
          <h5 style="text-align: center; margin-top:15px;">Resolución de Problemas</h5>
        
        </div>
        
        <div class="col md-3"> 
         
          <div class="progress-circle p90 over50" style="float:none;margin:auto">
            <span>90%</span>
            <div class="left-half-clipper">
              <div class="first50-bar"></div>
              <div class="value-bar"></div>
            </div>
          </div>
        <h5 style="text-align: center; margin-top:15px;">Idioma Inglés</h5>
        </div>
  
        <div class="col">
          
          <div class="progress-circle p20" style="float:none;margin:auto">
            <span>20%</span>
            <div class="left-half-clipper">
              <div class="first50-bar"></div>
              <div class="value-bar"></div>
            </div>
          </div>
          <h5 style="text-align: center; margin-top:15px;">Diseño de Sistemas</h5>
        </div>
  
      </div>
    
  
      <div class="row" style="margin-top: 100px;">
  
        <div class="col md-3">
          
          <div class="progress-circle p80 over50" style="float:none;margin:auto">
            <span>80%</span>
            <div class="left-half-clipper">
              <div class="first50-bar"></div>
              <div class="value-bar"></div>
            </div>
          </div>
          <h5 style="text-align: center; margin-top:15px;">HTML</h5>
        </div>
      
        <div class="col md-3">
          
          <div class="progress-circle p50" style="float:none;margin:auto">
            <span>50%</span>
            <div class="left-half-clipper">
              <div class="first50-bar"></div>
              <div class="value-bar"></div>
            </div>
           </div>
           <h5 style="text-align: center; margin-top:15px;">CSS</h5>
        </div>
  
        <div class="col md-3">
          
          <div class="progress-circle p40" style="float:none;margin:auto">
            <span>40%</span>
            <div class="left-half-clipper">
              <div class="first50-bar"></div>
              <div class="value-bar"></div>
            </div>
          </div>
          <h5 style="text-align: center; margin-top:15px;">Bootstrap</h5>
  
        </div>
  
      </div>
  
      <div class="row" style="margin-top: 100px;">
  
        <div class="col md-3">
          
          <div class="progress-circle p30" style="float:none;margin:auto">
            <span>30%</span>
            <div class="left-half-clipper">
              <div class="first50-bar"></div>
              <div class="value-bar"></div>
            </div>
          </div>
          <h5 style="text-align: center; margin-top:15px;">Angular</h5>
        </div>
      
        <div class="col md-3">
          <div class="progress-circle p25" style="float:none;margin:auto">
            <span>25%</span>
            <div class="left-half-clipper">
              <div class="first50-bar"></div>
              <div class="value-bar"></div>
            </div>
          </div>
          <h5 style="text-align: center; margin-top:15px;">SQL</h5>
        </div>
  
        <div class="col md-3">
  
          <div class="progress-circle p80 over50" style="float:none;margin:auto">
            <span>80%</span>
            <div class="left-half-clipper">
              <div class="first50-bar"></div>
              <div class="value-bar"></div>
            </div>
          </div>
          <h5 style="text-align: center; margin-top:15px;">Trabajo en Equipo</h5>
        </div>
  
      </div>
  
    </div>
  
</div>