<div class="container">

<div class="container-fluid p-0">

  <app-barralogin></app-barralogin>

  <app-encabezado></app-encabezado>

  <app-experiencia></app-experiencia>

  <div class="container-fluid overflow-hidden p-0" style="margin-bottom: 16px; padding-bottom: 16px;">

    <div class="row gx-3 gy-3">

      <div class="col">

        <app-educacion></app-educacion>

      </div>

      <div class="col">

        <app-habilidades></app-habilidades>

      </div>

    </div>

  </div>

  <app-proyectos></app-proyectos>

</div>