<div class="card mb-3">    <!--Banner / Profile / Review-->
    <img [src]="portfolio.banner" class="responsive" id="banner" alt="Mountains And Clouds">
    <img [src]="portfolio.profileImg" class="card-img-top rounded-circle" id="profile" alt="Profile picture">
    <div class="card-body">
      
        <div class="row"> 
        <h5 class="card-title fs-2" > {{portfolio.name}} </h5>
        <p class="card-text fs-3"><b>{{portfolio.title}}</b></p>
       </div>
        <div class="row pt-4" id="about">
        <p class="fs-6 fw-light">{{portfolio.about}}</p>
       
    </div>
  </div>
  </div>
