<div class="card mb-3">    <!--Banner / Profile / Review-->
    <img src="assets/img/banner.jpg" class="responsive" id="banner" alt="Mountains And Clouds">
    <img src="assets/img/profile.jpeg" class="card-img-top rounded-circle" id="profile" alt="Profile picture">
    <div class="card-body">
      <h5 class="card-title fs-2" > Ignacio Lutteri </h5>
      <p class="card-text fs-2"><b>Full Stack Developer Jr.</b></p>
      <div class="d-flex flex-row-reverse bd-highlight fw-normal" id="Review">
        Me encuentro realizando el curso Argentina Programa, <br> dando mis primeros pasos realizando Aplicaciones Web<br>tanto en el desarrollo FrontEnd como en el BackEnd.
      </div>
    </div>
  </div>
