<div class="d-flex bd-highlight bg-dark">                   <!--Navbar-->
    <div class="p-2 flex-grow-1 bd-highlight">
      <img src="assets/img/logoAp.png" width="125" height="45" alt="argprod">
    </div>
    <div class="bd-highlight p-2" style="float:none;margin:auto">
      <a  href="https://github.com/ilutteri" title="Github Profile" target="_blank"><i type="button" class="fab fa-github fa-fw" style="font-size: 2em;color:white"></i></a>
      <a  href="https://www.linkedin.com/in/ignacio-lutteri/" title="Linkedin Profile" target="_blank"><i type="button" class="fab fa-linkedin fa-fw" style="font-size: 2em; color:white"></i></a>
    </div>
    <div class="p-2 bd-highlight"><button type="button" class="btn btn-outline-success" id="loginBt">Login</button></div>
  </div>   
